.header {
    display:flex;
    justify-content: space-around;
    width: 100%;
    background: linear-gradient(0deg, #ff362f 50%, #ff4b52 50%);
}

.name {

}

.picture-count {

}

.filter {
    margin-top: 1rem;
}