.header {
    display:flex;
    justify-content: space-around;
    width: 100%;
    background: linear-gradient(#ff362f, #ff4b52);
}

.name {

}

.picture-count {

}

.filter {
    margin-top: 1rem;
}

body {
    background: antiquewhite;
}