/* You can add global styles to this file, and also import other style files */
body {
    background-color: #beffe7;
}
* {
    font-family: "Fira Sans ExtraBold";
}
@font-face {
    font-family: "Fira Sans ExtraBold";
}